<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Sentiments</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  
  
  <link rel="stylesheet" href="{{ asset('bundles/app/font/gotham.css') }}">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="{{ asset('bundles/app/css/mdb.min.css') }}" rel="stylesheet">

    <!-- Template styles -->
    <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-dark scrolling-navbar sentiments-navbar">

        <!-- Collapse button-->
        <!--button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i>
        </button-->

       
           <div class="container">
    
      <div class="navbar-header">
          <a class="sentiments-logo navbar-brand waves-effect waves-light" href="#"><img class="logo-img" src="{{ asset('bundles/app/img/logo.png') }}"></a>
      </div>
      {% block login %}
       
      {%endblock%}

      {% block link_1 %}{%endblock%}
      {% block link_2 %}{%endblock%}
      {% block logout %}{%endblock%}
      

            <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
           
            
          </ul>
           </div>

            

     </div>

       
</nav>
<!--Navbar-->

<!--Main container-->
    <div class="container-fluid main-container">
            <!--inside body-->
           
                    {% for flash_message in app.session.flashbag.get('notice')%}
                    <div class="flash alert alert-success" style="margin-bottom:0px">{{flash_message}}</div>
                {% endfor %}

                {% for flash_message in app.session.flashbag.get('error')%}
                    <div class="flash alert alert-danger" style="margin-bottom:0px">{{flash_message}}</div>
                {% endfor %}

                {% block body %}{% endblock %}
            <!--inside body--> 
    </div>
<!--Main container-->

<!--footer see here        footer see here   footer see here     footer see here    footer see here      footer see here    footer see here  -->
                {% block footer%}

                <!--Footer-->
    <footer class="page-footer center-on-small-only" style="margin-top:0px">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="title">ABOUT DIKY</h5>
                    <p>DIKY (Do I Know You), is a location based people discovery app, where you can discover people, based on what their friends are saying about them.</p>
                    
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-2 col-md-offset-1">
                    <h5 class="title">Link</h5>
                        <li><a title="Introducing DIKY" target="_blank" href="http://diky.co/blog/introducing-diky/">Introducing DIKY</a></li>
                        <li><a title="Team" target="_blank" href=" http://diky.co/blog/about-us">team</a></li>
                       <li><a title="DIKY Web profile" target="_blank" href=" http://diky.me">DIKY web profile</a></li>
                        <li><a title="Blog" target="_blank" href="http://diky.co/blog/">Blog</a></li>
                        <li><a title="FAQ" target="_blank" href="http://diky.co/blog/diky-faqs">FAQ's</a></li>
                    
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-2">
                    <h5 class="title">Find us</h5>
                        <ul class="footercontact">
                        <li><i class="flaticon-mainpage"></i><span>address:</span> Gurgaon, Delhi</li>
                        <li><i class="flaticon-email21"></i><span>e-mail:</span><a href="mailto:reachout@diky.co"> reachout@diky.co</a></li>
              
                        </ul>
                    
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-md-2">
                    <h5 class="title">RECENT POST</h5>
                    <ul class="footerblog">
                      <li><a target="_blank" title="Get to know your personality" href="http://diky.co/blog/know-your-personality/">Know your Personality</a> </li>
                      <li><a href="http://diky.co/blog/diky-me-my-crowdsourced-web-profile/" target="_blank" title="DIKY.me crowdsource Profile">DIKY.me - My Crowd sourced profile</a> </li>
                      <li><a href="http://diky.co/blog/said-hi-to-anyone-on-diky/" target="_blank" title="Say Hey on DIKY"> Have you said "Hey" to anyone on DIKY yet?</a> </li>
                    </ul>
                    
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <h4>DIKY</h4>
            <ul>
                <li>
                    <h5>Get our app free</h5></li>
                
                <li><a target="_blank" href="http://diky.co/" class="btn btn-default">Learn more</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                <p>© 2016 DIKY All rights reserved.</p>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
                {%endblock%}
<!--footer see here        footer see here   footer see here     footer see here    footer see here      footer see here    footer see here  -->

 
{%block modals%}{%endblock%}


<!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-2.2.3.min.js') }}"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/tether.min.js') }}"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/mdb.min.js') }}"></script>
    <script>
    var Settings={
        base_url:"{{app.request.getBaseURL() }}" 
    };
    </script>
    
    <!-- Animations init-->
    <script>
        new WOW().init();
    </script>
    <script src="{{ asset('bundles/app/js/base.js') }}"></script>
            {% block javascripts %}{% endblock %}
<!-- SCRIPTS -->

  </body>
  </html>



  