/* TEMPLATE STYLES */

html,
body,
.view {
    height: 100%;
}


html,
body {
    height: 100%;
	font-family:'gotham-light', sans-serif;
}

body .sentiments-navbar
{
	background-color:rgb(249, 95, 128);
	margin-top:-5px;
	box-shadow:none;
	border:none;
}

.col-centered
{
	float:none;
	margin: 0 auto;
}

#landing-page
{
	background-color:rgb(249, 95, 128);
}

.login , .get-sentiment
{
	color:rgb(249, 95, 128);
	background:#fff;
	font-weight:bold;
	/*font-family:'gotham-medium', sans-serif;*/
}


.main-container
{
	padding:0;
}

.divider-one
{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 10px;
	color:#fff;
	font-family:'gotham-bold', sans-serif;
	text-align:center;
}

.sub-divider-one
{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
	color:#fff;
	font-family:'gotham-medium', sans-serif;
	text-align:center;
	
}



.divider-two
{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    margin-bottom: 45px;
	font-family:'gotham-bold', sans-serif;
	text-align:center;
	color:black;
}

.smileys
{
	text-align:center;
}

.emoji
{
	padding:0 5px;
}

.add-question-btn
{
	background-color:rgb(249, 95, 128);
	color:#fff;
	font-weight:bold;
}

.preview-btn
{
	background-color:#f5a623;
	color:#fff;
	font-weight:bold;
}

.section-two-card-text p
{
	font-family:'gotham-medium', sans-serif;
	text-align:center;
	padding:25px;
}

.section-one-para
{
	color:#fff;
}

.logo-img
{
	width:80px;
	height:23px
}

/*  Cards */

.card-block
{
	padding:0.65rem;
}

.card-block  p{
	text-align:center;
}

.section-one-card
{
	margin-left:30px;
	margin-right:30px;
	-webkit-box-shadow: 0px -2px 10px 0px rgba(92,92,92,1);
-moz-box-shadow: 0px -2px 10px 0px rgba(92,92,92,1);
box-shadow: 0px -2px 10px 0px rgba(92,92,92,1);
border:1px solid #979797;
border-radius:6px;
}

/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

/*Intro*/

.view {
    
}

@media only screen and (max-width: 768px){
	.comments-section .heading, .h1-responsive {
		font-size: 250%;
	}
	
	.sentiments-navbar
	{
		margin-top:0;
	}
	
	.sentiments-logo
	{
		margin-top:10px;
	}
	
	
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

.description {
    padding-top: 25%;
    padding-bottom: 3rem;
    color: #fff
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}

.fa-check {
    color: green;
}

/*Colors*/

.btn-ptc {
  background-color: #45526E !important;
}

.btn-ptc:hover {
  background-color: #59698d !important;
}

.btn-ptc:focus {
  background-color: #59698d !important;
}

footer.page-footer {
    background-color: #1C2331;
}

.carousel-multi-item .carousel-indicators li {
    background-color: #1C2331;
}
.carousel-multi-item .carousel-indicators .active {
    background-color: #1C2331;
}