@font-face {
	font-family: 'Gotham-bold';
	src:url('GothamRoundedBold_21016.ttf');
	
}

@font-face {
	font-family: 'Gotham-medium';
	src:url('GothamRoundedMedium_21022.ttf');
	
}

@font-face {
	font-family: 'Gotham-light';
	src:url('GothamRoundedLight_21020.ttf');
	
}