<div class="col-md-3 cards_preview"> <a class='cut'><i class='fa fa-times'></i></a>
                    
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="{{image}}" class="card_image img-fluid" alt="">
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block"> 
                            <p class="card_text">{{text}}</p>
                        </div>
                        <!--/.Card content-->

                    </div>

</div>