{% extends 'base.html.twig'%}

{% block login %}
       <ul class="nav navbar-nav pull-right">
                    <li class="active"><div class="text-xs-center">
                    <button class="login btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#modal-register-login">Login</button>
                            </div></li>                  
       </ul>
        <ul class="nav navbar-nav pull-right">
                    <li class="active"><div class="text-xs-center">
                    <button class="login btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#modal-register">Sign up</button>
                            </div></li>                  
       </ul>
{%endblock%}

{%block modals%}
<!-------------------------------------------MODALS------------------------------------------->

<!-- -----------------------------------------Modal Register sign up -->
<div class="modal fade modal-ext" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3><i class="fa fa-user"></i> Register with:</h3>
                <a href="" class="btn-floating btn-fb btn-small"><i class="fa fa-facebook"></i></a>
                <a href="" class="btn-floating btn-tw btn-small"><i class="fa fa-twitter"></i></a>
                <a href="" class="btn-floating btn-gplus btn-small"><i class="fa fa-google-plus"></i></a>
                <a href="" class="btn-floating btn-li btn-small"><i class="fa fa-linkedin"></i></a>
                <a href="" class="btn-floating btn-git btn-small"><i class="fa fa-github"></i></a>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="reg_username" class="form-control">
                    <label for="reg_username">Your email*</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="reg_password" class="form-control">
                    <label for="reg_password">Your password*</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="reg_password_confirm" class="form-control">
                    <label for="reg_password_confirm">Repeat password*</label>
                </div>

                

                <div class="text-xs-center">
                    <button class="btn btn-primary btn-lg" id='sign_up'>Sign up</button>

                    <fieldset class="form-group">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1">Subscribe me to the newsletter</label>
                    </fieldset>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options">
                    <p>Already have an account? <button class="login btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#modal-register-login" data-dismiss="modal">Log in</button></p>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!------------------------------------------- Modal Register sign up -->

<!------------------------------------------- Modal Register login -->
<div class="modal fade modal-ext" id="modal-register-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3><i class="fa fa-user"></i> Login with:</h3>
                <div class='flash alert alert-success'  id='flash_message'></div><!---for flash message-->
                <a href="" class="btn-floating btn-fb btn-small"><i class="fa fa-facebook"></i></a>
                <a href="" class="btn-floating btn-tw btn-small"><i class="fa fa-twitter"></i></a>
                <a href="" class="btn-floating btn-gplus btn-small"><i class="fa fa-google-plus"></i></a>
                <a href="" class="btn-floating btn-li btn-small"><i class="fa fa-linkedin"></i></a>
                <a href="" class="btn-floating btn-git btn-small"><i class="fa fa-github"></i></a>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="lg_username" class="form-control">
                    <label for="lg_username">Your email</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="lg_password" class="form-control">
                    <label for="lg_password">Your password</label>
                </div>

                <div class="text-xs-center">
                    <button class="btn btn-primary btn-lg" id='log_in'>Log in</button>

                    <fieldset class="form-group">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1">Subscribe me to the newsletter</label>
                    </fieldset>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options">
                    <p>No account? Register here <button class="login btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#modal-register" data-dismiss="modal">Register here</button></p>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!------------------------------------------- Modal Register login -->

<!-------------------------------------------MODALS------------------------------------------->
{%endblock%}


{% block body %}

<!-------------------------------------------Section: Landing Page------------------------------------------->
        <section id="landing-page">
			<div class="divider-one">
				<h1 class="h1-responsive">Sentiment</h1>
			</div>
			
			<div class="sub-divider-one">
				<h3 class="h3-responsive">The World's simplest tool for free</h3>
			</div>
            <div class="row">
                <!--First columnn-->
                <div class="col-md-3 col-md-offset-4 col-centered">
                    <!--Card-->
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" class="img-fluid" alt="">
                            
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                           
                            <!--Text-->
                            <p class="card-text">Swipe based feedback for your selfies, dresses or even designs.</p>
                        </div>
                        <!--/.Card content-->

                    </div>
					
					<div class="text-xs-center section-one-para">
						<a class="login btn btn-primary" id='get_sentiments'>Get Sentiment</a>
						<p> No sign up required :)</p>
					</div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->
			</div>
        </section>
<!-------------------------------------------/Section: Landing Page------------------------------------------->

 <!-------------------------------------------Section: Choose Template------------------------------------------->
        <section id="choose-template">
			
			<div class="divider-one divider-two">
				<h1 class="h1-responsive">Choose a blank template</h1>
			</div>
            <div class="row">
                <!--First columnn-->
                 <div class="col-md-3 col-md-offset-3">

                    <!--Card-->
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" class="img-fluid" alt="">
                            <a href='{{app.request.getBaseURL()}}/make_form_login/TYPE_yes-no'>
                               <div class="mask">YES NO TYPE</div>
                             </a>
                            
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block section-two-card-text">
                           <!--Text-->
                            <p class="card-text">Tap to add question</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                
                <!--First columnn-->

                <!--Second column-->
                <div class="col-md-3">
                    <!--Card-->
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" class="img-fluid" alt="">
                            <a href="{{app.request.getBaseURL()}}/make_form_login/TYPE_smiley">
                                <div class="mask">SMILEY TYPE</div>
                            </a>
                    </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block section-two-card-text">
                           <!--Text-->
                            <p class="card-text">Tap to add question</p>
							<hr>
							<div class="smileys"><span class="emoji">1</span><span class="emoji">2</span><span class="emoji">3</span><span class="emoji">4</span><span class="emoji">5</span></div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--/Second column-->
            </div>
        </section>
  <!-----------------------------------------/Section: Choose Template------------------------------------------->

{% endblock %}


{% block javascripts %}
<script type="text/javascript" src="{{asset('bundles/app/js/first_page.js')}}"></script>
{% endblock %}