{% extends 'base.html.twig'%}


{% block logout %}

<a href="/logout" >
           <ul class="nav navbar-nav pull-right">
                    <li class="active"><div class="text-xs-center">
                    <button class="login btn btn-primary waves-effect waves-light">Logout</button>
                            </div></li>                  
       </ul>
</a>

<a href='/account/{{user}}'>
<ul class="nav navbar-nav pull-right">
                    <li class="active"><div class="text-xs-center">
                    <button class="login btn btn-primary waves-effect waves-light">your account</button>
                            </div></li> 

</a>

 {%endblock%}

{%block body%}
{% for form in forms %}

<a href='/show_feedback/{{user}}/{{form.id}}'>
<div class="alert alert-info">
{%if form.name%}
{{form.name}}
{%else%}
Nameless
{%endif%}
</div>
</a>


{% endfor %}
{%endblock%}

