{% extends 'base.html.twig'%}
{%block body%}

{#<----------------THIS IS THE ENCLOSURE------> #}
<div class='enclosure col-md-12' id='{{feedback_id}}'  client='{{client}}'>
{#--card--#}
<div class="col-md-3 cards_preview">
                    
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img id='feedback_image' src='' class="card_image img-fluid" alt="">
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block"> 
                            <p id='feedback_text' class="card_text"></p>
                        </div>
                        <!--/.Card content-->

                    </div>

</div>
{#--card--#}


</div>

{% if type =='TYPE_yes-no'%}
<button type="button" class="btn btn-lg btn-success response_button" id='yes_button' value='yes'>YES</button>
<button type="button" class="btn btn-lg btn-danger response_button" id='no_button' value='no'>NO</button>
{%else%}
<button type="button" class="btn btn-lg btn-success response_button" id='one_button' value='1'>1</button>
<button type="button" class="btn btn-lg btn-success response_button" id='two_button' value='2'>2</button>
<button type="button" class="btn btn-lg btn-success response_button" id='three_button' value='3'>3</button>
<button type="button" class="btn btn-lg btn-success response_button" id='four_button' value='4'>4</button>
<button type="button" class="btn btn-lg btn-success response_button" id='five_button' value='5'>5</button>
{%endif%}

{#<----------------THIS IS THE ENCLOSURE------> #}



{%endblock%}


{% block javascripts %}
<script src="{{ asset('bundles/app/js/give_feedback.js') }}"></script>

{% endblock %}