{% extends 'base.html.twig'%}

{% block logout%}

<a href='/account/{{user}}'>
<ul class="nav navbar-nav pull-right">
                    <li class="active"><div class="text-xs-center">
                    <button class="login btn btn-primary waves-effect waves-light">your account</button>
                            </div></li> 

</a>

{%endblock%}


{% block stylesheets %}
<!--Stylesheets-->
    <link href="{{ asset('bundles/app/css/jquery.filer.css')}}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/themes/jquery.filer-dragdropbox-theme.css')}}" type="text/css" rel="stylesheet" />
    
{% endblock %}



{% block body%}
<!-----------------------------making cards------------------------->

<section id="add-page">
      
      <div class="divider-one divider-two">
        <center><input type="text" id='name_of_form' value="{{form_name}}" placeholder="Edit Name" /></center>
      </div>
            <div class="row">
                <!--First columnn-->
                <div class="col-md-3 col-md-offset-4 col-centered">
                    <!--Card-->
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img id='preview_image' src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" class="img-fluid" alt="">
                            <a href="#" data-toggle="modal" data-target="#modal-add-card" data-dismiss="modal">
                                <div class="mask waves-effect waves-light"></div>
                            </a>
                               
                            
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block section-two-card-text">
                           <!--Text-->
                           <a> <p id='preview_text' class="card-text" data-toggle="modal" data-target="#modal-add-card" data-dismiss="modal">your question</p></a>
                        </div>
                        <!--/.Card content-->

                    </div>
          <div class="text-xs-center">


            <a class="add-question-btn btn btn-primary"  data-toggle="modal" data-target="#modal-add-card" data-dismiss="modal" id='card_form'>Card Form</a>
            <a class="preview-btn btn btn-primary" id='save_card' >Save card</a>
            <a class="preview-btn btn btn-primary" id='new_card' >New card</a>
          </div>
          
                    <!--/.Card-->
                </div>
                <!--First columnn-->

                
            </div>
</section>

<!-----------------------------making cards------------------------->

<!-------------------------------------------------box for cards--------------------------------------->
 <div id='make_cards' class='col-md-12' user='{{user}}'>
                {%for card in cards_array%}
                <div class="col-md-3 cards_preview">
                    <a class="cut"><i class="fa fa-times"></i></a>
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="{{card[0]}}" class="card_image img-fluid" alt="">
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block"> 
                            <p class="card_text">{{card[1]}}</p>
                        </div>
                        <!--/.Card content-->

                    </div>

</div>
                {%endfor%}

</div>
<!-------------------------------------------------box for cards--------------------------------------->

 <a type="button" class="btn btn-success"  id='save_action'>SAVE YOUR FORM</a><!------------saveform button----------------->


{%endblock%}

{%block modals%}
<!-------------------------------------------MODALS------------------------------------------->
<!-------------------------------------------Modal add card -->
<div class="modal fade modal-ext" id="modal-add-card" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3><i class="fa fa-user"></i> ADD CARD:</h3>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="form_text_val" class="form-control">
                    <label for="form_text_val">Your question</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="text" id="form_image_reference" class="form-control">
                    <label for="form_image_reference">your image</label>
                    OR
                    {#------------upload_image-------#}
                    <form id='form_upload' source_image=''>
                    <input type="file" name="files[]" id="filer_input2" multiple="multiple">
                    </form>
                    {#------------upload_image-------#}
                </div>

                

                <div class="text-xs-center">
                    <button class="btn btn-primary btn-lg" id='preview_card'>Preview</button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-------------------------------------------Modal add card -->
{%endblock%}





{% block javascripts %}
<script src="{{ asset('bundles/app/js/main.js') }}"></script>
<!--jQuery-->
    <script src="{{ asset('bundles/app/js/jquery.filer.min.js?v=1.0.5') }}"></script>
    <script src="{{ asset('bundles/app/js/custom.js?v=1.0.5') }}"></script>

{% endblock %}