{%extends 'feedback/make_form.html.twig'%}
{%block body%}
<div>
<input label="link to send" style="margin-left:34%;border: 2px solid #dadada;border-radius: 7px" readonly="readonly" value="{{app.request.getBaseURL()}}/feedback/{{feedback_id}}">
</div>
<div class='btn btn-default waves-effect waves-light'>
<a href='{{app.request.getBaseURL()}}/account/{{user}}'>homepage</a>
</div>
{%endblock%}


{% block javascripts %}

{% endblock %}