{% extends 'base.html.twig'%}

{% block logout %}
<a href="/logout" >
           <ul class="nav navbar-nav pull-right">
                    <li class="active"><div class="text-xs-center">
                    <button class="login btn btn-primary waves-effect waves-light">Logout</button>
                            </div></li>                  
       </ul>
</a>

<a href='/account/{{user}}'>
<ul class="nav navbar-nav pull-right">
                    <li class="active"><div class="text-xs-center">
                    <button class="login btn btn-primary waves-effect waves-light">your account</button>
                            </div></li> 

</a>

{%endblock%}

{%block body%}

{#<----------------THIS IS THE ENCLOSURE------> #}
<input label='link to send' style="margin-left:34%;border: 2px solid #dadada;border-radius: 7px"readonly="readonly" value='/feedback/{{feedback_id}}'><---your link</input>

<div class='enclosure' id='{{feedback_id}}' style="margin-top:30px">



{%for card in cards_array%}
<!--------card-------->
<div class="col-md-12" >
<div class="col-md-3 cards_preview" style="margin-left:20%">
                    
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="{{card.src}}" class="card_image img-fluid" alt="">
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block"> 
                            <p class="card_text">{{card.text}}</p>
                        </div>
                        <!--/.Card content-->

                    </div>

</div>

<!--------rating of that card------>
<div class='rating'>
{%for key,value in card.rating_array%}
    <div class='responses nav navbar-nav pull-left'> 

    <div class='response_type nav navbar-nav pull-left'>{{key}}:</div>
    <div class='nav navbar-nav pull-left'>{{value}}%</div>

    </div>
{%endfor%}
</div>
<!--------rating of that card------>

</div>
<!--------card-------->
{% endfor %}

</div>

{#<----------------THIS IS THE ENCLOSURE------> #}

{%endblock%}



{% block javascripts %}
<script src="{{ asset('bundles/app/js/show_feedback.js') }}"></script>

{% endblock %}