{% extends 'base.html.twig'%}

{% block logout %}

<a href="/logout" >
           <ul class="nav navbar-nav pull-right">
                    <li class="active"><div class="text-xs-center">
                    <button class="login btn btn-primary waves-effect waves-light">Logout</button>
                            </div></li>                  
       </ul>
</a>

<a href="/account/oldforms/{{user_id}}">
<ul class="nav navbar-nav pull-right">
                    <li class="active"><div class="text-xs-center">
                    <button class="login btn btn-primary waves-effect waves-light">your forms</button>
                            </div></li> 

</a>



 {%endblock%}

{%block body %}
<!-------------------------------------------Section: Landing Page------------------------------------------->
        <section id="landing-page">
			<div class="divider-one">
				<h1 class="h1-responsive">Sentiment</h1>
			</div>
			
			<div class="sub-divider-one">
				<h3 class="h3-responsive">The World's simplest tool for free</h3>
			</div>
            <div class="row">
                <!--First columnn-->
                <div class="col-md-3 col-md-offset-4 col-centered">
                    <!--Card-->
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" class="img-fluid" alt="">
                            
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                           
                            <!--Text-->
                            <p class="card-text">Swipe based feedback for your selfies, dresses or even designs.</p>
                        </div>
                        <!--/.Card content-->

                    </div>
					
					<div class="text-xs-center section-one-para">
						<a class="login btn btn-primary" id='get_sentiments'>Lets Make Sentiment</a>
						<p> It is fun :)</p>
					</div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->
			</div>
        </section>
<!-------------------------------------------/Section: Landing Page------------------------------------------->

 <!-------------------------------------------Section: Choose Template------------------------------------------->
        <section id="choose-template">
			
			<div class="divider-one divider-two">
				<h1 class="h1-responsive">Choose a blank template</h1>
			</div>
            <div class="row">
                <!--First columnn-->
                 <div class="col-md-3 col-md-offset-3">

                    <!--Card-->
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" class="img-fluid" alt="">
                            <a href='{{app.request.getBaseURL()}}/makeform/{{user_id}}/TYPE_yes-no'>
                               <div class="mask">YES NO TYPE</div>
                             </a>
                            
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block section-two-card-text">
                           <!--Text-->
                            <p class="card-text">Tap to add question</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                
                <!--First columnn-->

                <!--Second column-->
                <div class="col-md-3">
                    <!--Card-->
                    <div class="card section-one-card">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" class="img-fluid" alt="">
                            <a href='{{app.request.getBaseURL()}}/makeform/{{user_id}}/TYPE_smiley'>
                                <div class="mask">SMILEY TYPE</div>
                            </a>
                    </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block section-two-card-text">
                           <!--Text-->
                            <p class="card-text">Tap to add question</p>
							<hr>
							<div class="smileys"><span class="emoji">1</span><span class="emoji">2</span><span class="emoji">3</span><span class="emoji">4</span><span class="emoji">5</span></div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--/Second column-->
            </div>
        </section>
  <!-----------------------------------------/Section: Choose Template------------------------------------------->
{%endblock%}

{% block javascripts %}
<script type="text/javascript" src="{{asset('bundles/app/js/user_page.js')}}"></script>
{% endblock %}